.card-changePassword {
  background-color: white;
  width: 490px;
  height: 35%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.card-changePassword-bottom {
  background-color: white;
  width: 490px;
  height: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5%;
  text-align: center;
  color: #555555;
}
.card-changePassword-bottom p {
  font-size: calc(15px + (35 - 33) * (100vw - 320px) / (1920 - 320));
  margin-top: 3px;
  margin-bottom: 0px;
}
.form-changePassword {
  width: 100%;
  padding: 20px;
  background: none;
}

.form-changePassword form {
  display: flex;
  flex-direction: column;
}

.form-changePassword input {
  margin-bottom: 20px;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f3f4f5;
  transition: border-color 0.3s ease-in-out;
}
.form-changePassword input:focus {
  outline: none;
  border-color: #119744;
}

.form-changePassword button {
  background-color: #119744;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

/* Style the checkbox */
.form-changePassword input[type="checkbox"] {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  accent-color: #119744;
}
.form-changePassword label {
  background: none;
  margin-bottom: 20px;
  color: #555555;
}
@media (max-width: 760px) {
  .card-changePassword {
    height: 100%;
    width: 80%;
    margin-bottom: 5%;
  }

  .form-changePassword {
    width: 100%;
    margin-top: 10px;
  }
  .form-changePassword.clicked {
    border-color: green; /* Border color when form is clicked */
  }
  .card-changePassword-bottom {
    background-color: white;
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .card-changePassword-bottom .bottom-content p {
    font-size: 15px;
    text-align: center;
    color: #555555;
  }
}
